{
  "openapi": "3.0.1",
  "info": {
    "title": "Time Here Now API",
    "version": "20251018",
    "description": "API to get the current time based on timezone or client IP. Time zones and offsets are sourced from the IANA Time Zone Database (tzdb)."
  },
  "servers": [
    { "url": "https://timeherenow.rodit.org:8443/api" },
    { "url": "http://localhost:3000/api" }
  ],
  "externalDocs": {
    "description": "IANA Time Zone Database (tzdb)",
    "url": "https://www.iana.org/time-zones"
  },
  "paths": {
    "/login": {
      "post": {
        "summary": "Authenticate and obtain session token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["roditToken"],
                "properties": {
                  "roditToken": { "type": "string", "description": "RODiT authentication token" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoginResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "Terminate session",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LogoutResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/signclient": {
      "post": {
        "summary": "Sign and mint a new RODiT client token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tobesignedValues", "mintingfee", "mintingfeeaccount"],
                "properties": {
                  "tobesignedValues": {
                    "type": "object",
                    "required": ["not_after", "max_requests", "maxrq_window", "permissioned_routes", "serviceprovider_signature"],
                    "properties": {
                      "not_after": { "type": "string", "description": "ISO 8601 timestamp for token expiration" },
                      "max_requests": { "type": "number", "description": "Maximum number of requests allowed" },
                      "maxrq_window": { "type": "number", "description": "Time window for max requests in seconds" },
                      "permissioned_routes": { "type": "string", "description": "JSON string of permitted routes and permissions" },
                      "serviceprovider_signature": { "type": "string", "description": "Service provider signature" }
                    }
                  },
                  "mintingfee": { "type": "string", "description": "Fee for minting the token" },
                  "mintingfeeaccount": { "type": "string", "description": "Account to receive the minting fee" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token successfully minted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SignClientResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "500": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/timezone": {
      "post": {
        "summary": "a listing of all timezones.",
        "responses": {
          "default": {
            "$ref": "#/components/responses/SuccessfulListJsonResponse"
          }
        }
      }
    },
    
    "/timezone/area": {
      "post": {
        "summary": "a listing of all timezones available for that area.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["area"],
                "properties": {
                  "area": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessfulListJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    
    "/timezone/time": {
      "post": {
        "summary": "request the current time for a timezone (falls back to user IP if timezone is omitted).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timezone": { "type": "string", "description": "IANA tzdb ID, e.g., Europe/Berlin or America/Indiana/Knox. If omitted, server will determine timezone from the user's IP." },
                  "locale": { "type": "string", "description": "Optional IETF BCP 47 locale tag or Accept-Language value to localize names and datetime" },
                  "area": { "type": "string", "deprecated": true, "description": "Legacy segmented parameter for timezone area. Prefer 'timezone'." },
                  "location": { "type": "string", "deprecated": true, "description": "Legacy segmented parameter for timezone location. Prefer 'timezone'." },
                  "region": { "type": "string", "deprecated": true, "description": "Legacy segmented parameter for timezone region. Prefer 'timezone'." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessfulDateTimeJsonResponse" },
          "503": {
            "description": "NEAR time unavailable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorJsonResponse" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/timezones/by-country": {
      "post": {
        "summary": "list timezones by ISO 3166-1 alpha-2 country code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["country_code"],
                "properties": {
                  "country_code": { "type": "string", "description": "ISO 3166-1 alpha-2 country code, e.g., US, DE, IN" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessfulListJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    
    
    "/ip": {
      "post": {
        "summary": "request the current time based on the ip of the request or provided IP (IPv4 or IPv6).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip": { "type": "string", "description": "Optional IPv4 or IPv6 address" },
                  "locale": { "type": "string", "description": "Optional IETF BCP 47 locale tag or Accept-Language value to localize names and datetime" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessfulDateTimeJsonResponse" },
          "503": {
            "description": "NEAR time unavailable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorJsonResponse" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/sign/hash": {
      "post": {
        "summary": "Sign a base64url-encoded hash concatenated with the latest NEAR timestamp, likely_time_difference_ms, and public key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash_b64url"],
                "properties": {
                  "hash_b64url": { "type": "string", "description": "Base64url-encoded hash. Decoded length must be 1..128 bytes." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature and concatenated data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SignHashResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "503": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/timers/schedule": {
      "post": {
        "summary": "schedule a delayed webhook using SDK-configured destination.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["delay_seconds"],
                "properties": {
                  "delay_seconds": { "type": "number", "minimum": 1, "maximum": 86400, "description": "Delay in seconds before webhook is sent" },
                  "payload": { "type": "object", "description": "Optional payload echoed back in the webhook" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Timer scheduled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TimerScheduleResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "400": { "$ref": "#/components/responses/ErrorJsonResponse" },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    },
    "/health": {
      "servers": [
        { "url": "https://timeherenow.rodit.org" },
        { "url": "http://localhost:3000" }
      ],
      "get": {
        "summary": "Server health (includes NEAR status)",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorJsonResponse" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "SuccessfulListJsonResponse": {
        "description": "the list of available timezones in JSON format",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListJsonResponse"
            }
          }
        }
      },
      "SuccessfulDateTimeJsonResponse": {
        "description": "the current time for the timezone requested in JSON format",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DateTimeJsonResponse"
            }
          }
        }
      },
      "ErrorJsonResponse": {
        "description": "an error response in JSON format",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorJsonResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ListJsonResponse": {
        "type": "array",
        "description": "a list of available timezones",
        "items": {
          "type": "string"
        }
      },
      "DateTimeJsonResponse": {
        "type": "object",
        "required": [
          "user_ip",
          "date_time",
          "day_of_week",
          "day_of_year",
          "dst_trueorfalse",
          "dst_offset",
          "time_zone",
          "unix_time",
          "utc_datetime",
          "utc_offset",
          "week_number"
        ],
        "properties": {
          "user_ip": {
            "type": "string",
            "description": "the IP address of the user making the request (IPv4 or IPv6)"
          },
          "date_time": {
            "type": "string",
            "description": "an ISO8601-valid string representing the current, local date/time"
          },
          "day_of_week": {
            "type": "integer",
            "description": "ISO 8601 day number of the week (Monday=1 .. Sunday=7)"
          },
          "day_of_year": {
            "type": "integer",
            "description": "ordinal date of the current year"
          },
          "dst_trueorfalse": {
            "type": "boolean",
            "description": "flag indicating whether the local time is in daylight savings"
          },
          "dst_offset": {
            "type": "integer",
            "description": "the difference in seconds between the current local time and daylight saving time for the location"
          },
          "raw_offset": {
            "type": "integer",
            "description": "the difference in seconds between the current local time and the time in UTC, excluding any daylight saving difference (see dst_offset)"
          },
          "time_zone": {
            "type": "string",
            "description": "timezone in `Area/Location` or `Area/Location/Region` format"
          },
          "locale": {
            "type": "string",
            "description": "resolved locale used for localization"
          },
          "unix_time": {
            "type": "integer",
            "description": "number of seconds since the Epoch"
          },
          "utc_datetime": {
            "type": "string",
            "description": "an ISO8601-valid string representing the current date/time in UTC"
          },
          "utc_offset": {
            "type": "string",
            "description": "an ISO8601-valid string representing the offset from UTC"
          },
          "week_number": {
            "type": "integer",
            "description": "the current week number"
          },
          "likely_time_difference_ms": {
            "type": "integer",
            "description": "conservative >99% likely upper-bound difference (milliseconds) between real time and the returned time, based on 5Hz polling and ~0.6s block interval"
          }
        }
      },
      "NearHealthResponse": {
        "type": "object",
        "required": ["status", "timestamp"],
        "properties": {
          "status": { "type": "string", "enum": ["healthy", "unhealthy"] },
          "endpoint": { "type": "string" },
          "error": { "type": "string" },
          "timestamp": { "type": "string", "description": "ISO 8601 timestamp" },
          "cache_available": { "type": "boolean" },
          "last_fetch_timestamp": { "type": "string", "nullable": true },
          "last_fetch_age_ms": { "type": "integer", "nullable": true },
          "last_block_timestamp": { "type": "string", "nullable": true },
          "last_block_age_ms": { "type": "integer", "nullable": true },
          "poll_interval_ms": { "type": "integer" },
          "block_interval_ms": { "type": "integer" },
          "network_margin_ms": { "type": "integer" },
          "likely_time_difference_ms": { "type": "integer", "nullable": true }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["status", "timestamp", "service"],
        "properties": {
          "status": { "type": "string" },
          "timestamp": { "type": "string" },
          "service": { "type": "string" },
          "near": { "$ref": "#/components/schemas/NearHealthResponse" }
        }
      },
      "ErrorJsonResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "details about the error encountered"
          }
        }
      },
      "SignHashResponse": {
        "type": "object",
        "required": ["data", "concatenated", "signature_base64url"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["hash_b64url", "timestamp_iso", "likely_time_difference_ms", "public_key_base64url"],
            "properties": {
              "hash_b64url": { "type": "string" },
              "timestamp_iso": { "type": "string" },
              "likely_time_difference_ms": { "type": "integer" },
              "public_key_base64url": { "type": "string" }
            }
          },
          "concatenated": { "type": "string", "description": "String of 'hash_b64url.timestamp_iso.likely_time_difference_ms.public_key_base64url'" },
          "signature_base64url": { "type": "string" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "required": ["success", "message", "user", "token"],
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "user": {
            "type": "object",
            "required": ["id"],
            "properties": {
              "id": { "type": "string" }
            }
          },
          "token": { "type": "string", "description": "JWT authentication token" }
        }
      },
      "LogoutResponse": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" }
        }
      },
      "SignClientResponse": {
        "type": "object",
        "required": ["token_id"],
        "properties": {
          "token_id": { "type": "string", "description": "Unique identifier for the minted RODiT token" },
          "fee_signature_base64url": { "type": "string", "description": "Base64url-encoded signature for the minting fee" }
        }
      },
      "TimerScheduleResponse": {
        "type": "object",
        "required": ["timer_id", "delay_seconds", "scheduled_at", "execute_at"],
        "properties": {
          "timer_id": { "type": "string", "description": "ULID identifying the scheduled timer" },
          "delay_seconds": { "type": "number" },
          "scheduled_at": { "type": "string", "description": "ISO 8601 timestamp when scheduling occurred" },
          "execute_at": { "type": "string", "description": "ISO 8601 timestamp when webhook is scheduled to fire" },
          "requestId": { "type": "string", "description": "Server request correlation ID" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
